

.info-finan{
    margin-left: 30px;
    .fa-plus{
        float: left;
        color: getColor(blue);
        width: 35px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        margin-left: 5px;
        border: solid 1px getColor(blue);
        border-radius: 50%;
        cursor: pointer;
    }
    li{
        position: relative;
        display: none;
        &.active{
            display: block;
        }
    }
    .select{
        margin-right: 10px;
        padding-left: 36px;
    }
    .pluser{
        &.desactive{
            display: none;
        }
    }
}

%opt{
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    margin-right: 5px;
    top: 12px;
    left: 12px;
}

.opt--red{
    @extend %opt;
    background: getColor(red);
}

.opt--blue{
    @extend %opt;
    background: getColor(blue);
}

.opt--yellow{
    @extend %opt;
    background: getColor(yellow);
}

.grafic{
    margin-top: 108px;
    position: relative;
    img{
        width: 100%;
    }
}