// file: login.scss
// Descript: 
// version: v.1
// Author: Citric

// -

// Table of contents
// ============================

// 01. LOGIN
// ------------------------

@import "../base/base";

// ======================================================
// 01. LOGIN
// ======================================================

    .login{
        &__errors{
            display: none;
            color: getColor(red);
            &.active{
                display: block;
            }
        }
    }