// file: Colors.scss
// Descript: 
// version: v.1
// Author: Citric

// -

// Table of contents
// ============================

// 01. 
// ------------------------
// 1.1 

// ======================================================
// 01. 
// ======================================================

//  1.1 
// --------------------------------------------------

$colors : (
  green : #41B883,
  grey  : #35495E,
  red   : #FD7575
);